* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 70px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.navbar a:hover {
  text-decoration: underline;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
#ea-button {
  background: green;
  color: white;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
}
#ea-button:hover {
  background: aqua;
  color: green;
}
header {
  border-bottom: 1px solid #eee;
}
.banner {
  background-image: url(./Assets/hero-bg.png);
  height: 88vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  text-align: center;
  color: white;
  width: 80%;
}
.banner-content h1 {
  font-size: 55px;
  margin-bottom: 15px;
}
.ea-open {
  background: white;
  color: green;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  margin: 20px;
}
.description {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 25px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.buttons button {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  margin: 2px 10px;
}
.button-1 {
  background: green;
  color: white;
  border: 1px solid black;
}
.button-1:hover {
  background: white;
  color: green;
}
.button-2 {
  border: 1px solid white;
  color: white;
  background: none;
}
.button-2:hover {
  background: white;
  color: green;
}
.problems {
  padding: 60px 0;
  text-align: center;
}
.problems h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.problems-text {
  font-size: 16px;
  color: grey;
  margin: 20px;
}
.problem-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.problem {
  width: 220px;
  padding: 25px 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 12px black;
}
.icon {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 22px;
}
.problem h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.problem p {
  font-size: 16px;
  color: grey;
}
.second-brain {
  padding: 50px 0;
  background: #ffffff;
}
.second-brain-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
}
.second-brain-left img {
  width: 400px;
}
.tag {
  color: green;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.sub-title {
  font-size: 42px;
  color: black;
  margin-bottom: 15px;
}
.desc {
  color: #6b7280;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.sub-list {
  list-style: none;
}
.sub-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  color: black;
  font-size: 16px;
}
.sub-list li img {
  width: 18px;
  height: 18px;
}
.early-access {
  width: 80%;
  margin: 80px auto;
  padding: 60px 20px;
  background: #f8f6f1;
  border-radius: 12px;
  text-align: center;
}
.early-access h2 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #0b1b2b;
}
.early-text {
  font-size: 16px;
  color: grey;
  margin-bottom: 30px;
  line-height: 1.6;
}
.early-button {
  display: inline-flex;
  align-items: center;
  background: green;
  color: white;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
  gap: 10px;
}
.early-button img {
  width: 14px;
  height: 14px;
}
.early-button:hover {
  background: white;
  color: green;
}
.early-note {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}
.footer {
  background: darkblue;
  color: white;
  padding: 40px 20px;
}
.footer-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-right {
  text-align: right;
}
.social-title {
  margin-bottom: 10px;
  font-size: 16px;
}
.social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.social-icons a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons a:hover {
  background: white;
  color: black;
}
.footer hr {
  width: 85%;
  margin: 25px auto 15px;
  border-top: 1px solid grey;
}
.footer-text {
  text-align: center;
  font-size: 16px;
  color: white;
}

